In [1]:
from keras.datasets import boston_housing
import pandas as pd

Using TensorFlow backend.

In [2]:
(train_data, train_targets), (test_data, test_targets) = boston_housing.load_data()

In [3]:
print("train_data.shape = {}, train_targets.shape = {}".format(train_data.shape, train_targets.shape))
print("train_data.shape = {}, test_targets.shape = {}".format(test_data.shape, test_targets.shape))

train_data.shape = (404, 13), train_targets.shape = (404,)
train_data.shape = (102, 13), test_targets.shape = (102,)

In [4]:
sample_data = train_data[0]
sample_target = train_targets[0]

In [5]:
print(type(sample_data))
print(len(sample_data))
print(sample_data)

<class 'numpy.ndarray'>
13
[  1.23247   0.        8.14      0.        0.538     6.142    91.7
   3.9769    4.      307.       21.      396.9      18.72   ]

In [6]:
print(sample_target)

15.2

In [7]:
df_data = pd.DataFrame(train_data)
df_data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.745111,11.480198,11.104431,0.061881,0.557356,6.267082,69.010644,3.740271,9.440594,405.898515,18.475990,354.783168,12.740817
std,9.240734,23.767711,6.811308,0.241238,0.117293,0.709788,27.940665,2.030215,8.698360,166.374543,2.200382,94.111148,7.254545
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,188.000000,12.600000,0.320000,1.730000
25%,0.081437,0.000000,5.130000,0.000000,0.453000,5.874750,45.475000,2.077100,4.000000,279.000000,17.225000,374.672500,6.890000
50%,0.268880,0.000000,9.690000,0.000000,0.538000,6.198500,78.500000,3.142300,5.000000,330.000000,19.100000,391.250000,11.395000
75%,3.674808,12.500000,18.100000,0.000000,0.631000,6.609000,94.100000,5.118000,24.000000,666.000000,20.200000,396.157500,17.092500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.725000,100.000000,10.710300,24.000000,711.000000,22.000000,396.900000,37.970000